<section class="section cost-estimate">
  <div class="cost-estimate-box">
    <ul class="cost-estimate-list">
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Капучино –</span> великий стакан → 1 п еспресо →
          спочатку кава потім молоко
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Латте –</span> великий стакан → 1 п еспресо →
          спочатку молоко потім кава
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Раф –</span> ср. ст. → 1 п еспресо → вершки 1 см
          в пінчер → молоко до носика → сироп (класичний на ванілі)
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Допіо –</span> ср. ст. → 2 п еспресо → робиться
          на подвійному холдері → дві ложки зерна → (контролювати кнопку за 2 см
          до краю на нац-ом стакані, або половина на ср. ст.)
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Флет-вайт –</span> ср. ст. → робиться на
          подвійному холдері → допіо (пів ср. ст.) → всбити пінку як на капучино
          і додати до верху
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Лунго –</span> ст. національний (под американо)
          → робиться на одинарному холдері → десь до пів стакану
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Подвійне американо –</span> ср. ст. → на
          подвійному холдері → дві порції кави → середня кнопка (сама
          зупиниться)
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Рістретто –</span> ст. для еспресо → менше
          половини
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Еспресо з молоком –</span> ст. нац-ний → 1 п
          еспресо → молоко 1 п
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Чай –</span> ср. ст → весь робиться в ср. ст.,
          якщо великий, то + 1 грн
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Бамбл (Джміль) –</span> пласт. ст. → 1 п еспресо
          → спочатку лід → сироп на лід (класичний карамель) → сік апельсиновий
          до пояску → долити еспресо → закрити → трубочка
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Айс латте –</span> пласт. ст. → лід повний
          стакан → спитати за смак сиропу → молоко до пояска → 1 п еспресо →
          закрити → трубочка
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Молочний коктейль –</span> пласт. ст. → 2-3
          льоду в шейкер → молоко 150 мл в шейкер → 1 л коктельной суміщі → в
          пласт. ст. половина льоду → перелити все зі шейкеру → закрити →
          трубочка
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Лимонад –</span> ппласт. ст. → в шейкер 2-3
          льоду → вода 150 мл → суміш для лимонаду → в палст. ст. половину льоду
          → долька лимону → пару листків м’яти → перелити з шейкера → закрити →
          трубочка
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Горячий шоколад –</span> ср. ст. → одна ложка
          горячого шоколаду → взбити молоко → розмішати, щоб не було комків
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Какао –</span> ср. ст. → 1 ч. л. какао (вона в
          коробці) з горкою → взбити молоко → розмішати.
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Глінтвейн –</span> ср. ст. → в пінчер налити
          вина до носика → взбити до горячого → в ср. ст. насипати чай для
          глінтвейну (він в стіках) → перелити в ст. вино → розмішати + 1 долька
          апельсину
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Еспресо тонік –</span> пласт. ст. → лід пів
          стакану → швепс до пояска → 1 п еспресо
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="bm-span">Мохіто –</span> пласт. ст. → 2 дольки лимону →
          лід пів стакану → сироп на лід → м’ята → спрайт до повного
        </p>
      </li>
      <li class="cost-estimate-item cost-estimate-item__last">
        <p class="cost-estimate-text">
          <span class="bm-span">Глясе –</span> ср. ст. → морозиво 1 стаканчик
          “Пролісок” → зняти вафельний стаканчик з морозива → покласти морозиво
          в ср. ст. → зверху налити американо → можна сироп за смаком
        </p>
      </li>
    </ul>
  </div>
</section>
