@use "../utils/variables" as *;
@use "../utils/mixin" as *;

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
}

// .coffee-footer {
//   width: 185px;
//   margin: 0 auto;
// }

.calculation-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.syrup-box {
  background-color: $bg-btn-country;
  border-radius: 10px;
  padding: 5px 0;
}

.syrup-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.surop-text {
  font-size: 18px;
  padding: 0 20px 0 20px;
}

.btn-syrup {
  padding: 5px;
}

.calculation {
  font-size: 18px;
  background-color: $bg-btn-country;
  border: none;
  border-radius: 10px;
  padding: 5px 30px;
  width: 185px;
  margin: 0 auto;
}

.example-amount {
  @include font-size(23px, 500);
}
