@use "../utils/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-color-header;
  padding: 20px;
}

.logo-text {
  font-family: "Great Vibes", cursive;
  font-size: 23px;
}

// svg {
//   fill: none;
//   stroke: white;
//   stroke-width: 2px;
//   transition: 0.3s;
// }

// .icon-burger-menu {
//   fill: #cc3e3e;
//   padding: 5px;
//   margin: 5px;
// }

svg {
  fill: #4bad65;
}
