@use "../utils/variables" as *;
@use "../utils/mixin" as *;

.hero {
  padding: 52px 33px 84px 33px;
}

.container-hero {
  display: grid;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.hero-box {
  position: relative;
  width: 327px;
  height: 242px;
  background: $hero-box;
  border-radius: 5px;
}

.title-position {
  position: absolute;
  width: 165px;
  // top: 35%;
  // left: 25%;
  padding: 88px 81px;
}

.title-position-coffee {
  padding: 88px 75px;
}

.title {
  @include font-size(53px, 400);
  font-family: "Great Vibes", cursive;
  text-align: center;
}
