//Color
$text: #342d27;
$icons: #342d27;
$bg-body: #fff7eb;
$bg-color-header: #d6ac85;
$bg-color-footer: #bf8a5a;
$bg-color-article: #d9d9d9;
$bg-btn-country: #e8ded4;
$hero-box: #b9a796;

//Typography
$font-family: "Montserrat Alternates", sans-serif;
