<section class="section cost-estimate">
  <div class="cost-estimate-box">
    <ul class="cost-estimate-list">
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="cost-estimate-span">Капучино –</span> великий стакан → 1
          п еспресо → спочатку кава потім молоко
        </p>
      </li>
      <li class="cost-estimate-item">
        <p class="cost-estimate-text">
          <span class="cost-estimate-span">Латте –</span> великий стакан → 1 п
          еспресо → спочатку молоко потім кава
        </p>
      </li>

      <li class="cost-estimate-item cost-estimate-item__last">
        <p class="cost-estimate-text">
          <span class="cost-estimate-span">Глясе –</span> ср. ст. → морозиво 1
          стаканчик “Пролісок” → зняти вафельний стаканчик з морозива → покласти
          морозиво в ср. ст. → зверху налити американо → можна сироп за смаком
        </p>
      </li>
    </ul>
  </div>
</section>
