<section class="section coffe-list">
  <div class="cards">
    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Американо</h3>
      <div class="counter-box">
        <button class="btn-counter minus">-</button>
        <p class="number">1</p>
        <button class="btn-counter plus">+</button>
      </div>
    </article>

    <article class="card">
      <p class="price">36,00</p>
      <h3 class="card-title">Американо</h3>
      <div class="counter-box">
        <button class="btn-counter minus">-</button>
        <p class="number">1</p>
        <button class="btn-counter plus">+</button>
      </div>
    </article>

    <article class="card">
      <p class="price">36,00</p>
      <h3 class="card-title">Американо</h3>
      <div class="counter-box">
        <button class="btn-counter minus">-</button>
        <p class="number">1</p>
        <button class="btn-counter plus">+</button>
      </div>
    </article>

    <article class="card">
      <p class="price">36,00</p>
      <h3 class="card-title">Американо</h3>
      <div class="counter-box">
        <button class="btn-counter minus">-</button>
        <p class="number">1</p>
        <button class="btn-counter plus">+</button>
      </div>
    </article>
  </div>
</section>
