<section class="section coffe-list">
  <div class="cards">
    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Американо</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title card-title_long">Американо з молоком</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Еспресо</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title card-title_long">Еспресо з молоком</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Лунго</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Допіо</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Капучино</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>

    <article class="card">
      <div class="price-box">
        <p class="price">36,00</p>
      </div>

      <h3 class="card-title">Латте</h3>

      <div class="counter-box">
        <button class="btn-counter minus">
          <svg width="15" height="15">
            <use href="./images/minus.svg"></use>
          </svg>
        </button>
        <p class="number">1</p>
        <button class="btn-counter plus">
          <svg width="15" height="15">
            <use href="./images/plus.svg"></use>
          </svg>
        </button>
      </div>
    </article>
  </div>
</section>
