<section class="section coffe-list">
  <div class="slider-viewport">
    <div class="slider-track"></div>
  </div>
  <div class="arrow-box">
    <button
      class="arrow arrow-back"
      type="button"
      aria-label="Попередній слайд"
    >
      <img
        src="./images/arrow-back.svg"
        alt="arrow back"
        width="34"
        height="34"
      />
    </button>
    <button class="arrow arrow-next" type="button" aria-label="Наступний слайд">
      <img
        src="./images/arrow-next.svg"
        alt="arrow next"
        width="34"
        height="34"
      />
    </button>
  </div>
</section>
