<footer class="footer coffee-footer">
  <!-- <p>&copy; 2025 Parcel Project</p> -->
  <div class="footer-container-coffe">
    <div class="calculation-box">
      <div class="add syrup-box">
        <button class="btn-syrup syrup-minus">
          <img
            src="./images/minus.svg"
            alt="minus icon"
            width="17"
            height="17"
          />
        </button>
        <p class="add-text">Сироп</p>
        <button class="btn-syrup syrup-plus">
          <img
            src="./images/plus.svg"
            alt=" plus icon"
            width="17"
            height="17"
          />
        </button>
      </div>

      <div class="add milk-box">
        <button class="btn-syrup milk-minus">
          <img
            src="./images/minus.svg"
            alt="minus icon"
            width="17"
            height="17"
          />
        </button>
        <p class="add-text">Без/л молоко</p>
        <button class="btn-syrup milk-plus">
          <img
            src="./images/plus.svg"
            alt=" plus icon"
            width="17"
            height="17"
          />
        </button>
      </div>

      <button class="calculation">Онулити</button>
    </div>

    <div class="total-box"><p class="example-amount">0.00</p></div>
  </div>
</footer>
